*{
    margin: 0;
    padding: 0;
}
table{
    border: 1px solid #444444;
    border-collapse: collapse;
    width: 700px;
    border-width: 2px;
}
tr,td{
    padding: 15px 15px;
}
#middle{
    padding: 0;
}
.mainbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2{
    padding-top: 20px   ;
     padding-bottom: 20px;
     margin: 0 280px;
}
#btNone{
    border-bottom: hidden;
}